.selectedHomeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectedHomeBanner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    border-color:var(--colorBlanco);
    border-style: solid;
    border-radius: 10px;
    box-shadow: var(--sombraSmall);
    margin-bottom: 25px;
    background-image: linear-gradient(90deg,var(--colorAzulContraste), var(--colorAmarilloContraste));
}

.selectedAllContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    color: var(--colorBlanco);
    padding: 10px;
    text-align: left;
}

.selectedBannerImage {
    position: relative;
    top: 5%;
    right: 50px;
    width: auto;
    height: 200px;
}

.selectedHomeCards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: auto;
}

/* Carrousel Sel1 Start */
#wrapperSel1 {
    width: 100%;
    position: relative;
  }
  
  #carouselSel1 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carouselSel1::-webkit-scrollbar {
    height: 0;
  }
  
  #prevSel1,
  #nextSel1 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--colorAzulContraste);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    fill: var(--colorBlanco);
  }
  
  #prevSel1 {
    top: 50%;
    left: -20px;
    display: none;
  }
  
  #nextSel1 {
    top: 50%;
    right: -20px;
  }
  
  #contentSel1 {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  /* Carrousel Sel2 Start */
#wrapperSel2{
    width: 100%;
    position: relative;
  }
  
  #carouselSel2 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carouselSel2::-webkit-scrollbar {
    height: 0;
  }
  
  #prevSel2,
  #nextSel2 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--colorAzulContraste);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    fill: var(--colorBlanco);
  }
  
  #prevSel2 {
    top: 50%;
    left: -20px;
    display: none;
  }
  
  #nextSel2 {
    top: 50%;
    right: -20px;
  }
  
  #contentSel2 {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

  /* Carrousel Sel3 Start */
#wrapperSel3 {
    width: 100%;
    position: relative;
  }
  
  #carouselSel3 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carouselSel3::-webkit-scrollbar {
    height: 0;
  }
  
  #prevSel3,
  #nextSel3 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--colorAzulContraste);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    fill: var(--colorBlanco);
  }
  
  #prevSel3 {
    top: 50%;
    left: -20px;
    display: none;
  }
  
  #nextSel3 {
    top: 50%;
    right: -20px;
  }
  
  #contentSel3 {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }

    /* Carrousel Sel4 Start */
#wrapperSel4 {
    width: 100%;
    position: relative;
  }
  
  #carouselSel4 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carouselSel4::-webkit-scrollbar {
    height: 0;
  }
  
  #prevSel4,
  #nextSel4 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--colorAzulContraste);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    fill: var(--colorBlanco);
  }
  
  #prevSel4 {
    top: 50%;
    left: -20px;
    display: none;
  }
  
  #nextSel4 {
    top: 50%;
    right: -20px;
  }
  
  #contentSel4 {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }