.suscribeMail--Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.suscribeMail--Title {
    text-align: left;
    width: 45%;
    padding-left: 10px;
}




.suscribeMail--Inputs {
    display: flex;
    flex-direction: row;
    min-width: 45%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btnSuscribe {
    border-radius: 5px !important;
    background-color: var(--colorAzulContraste) !important;
    color: var(--colorBlanco) !important;
    border-color: transparent !important;
}

.btnSuscribe:hover {
    color: var(--colorGrisClaro) !important;
}

.suscribeMail--InputError{
    padding-top: 5px;
    padding-left: 10px;
    width: 45%;
    text-align: left;
    font-size: var(--notification);
    color: var(--colorError);
}