.cartItemData--checkout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 5px;
    border-width: 1px;
    border-color: var(--colorGrisClaro);
    border-style: solid;
    border-radius: 5px;
    /* margin: 5px; */
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}

.cartItemTitle--checkout {
    color: var(--colorAzulContraste);
}

.cartItemThumb--checkout {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.cartItemQuantity--checkout {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.cartItemSubtotal--checkout {
    color: var(--colorAzulContraste);
}