.newPasswordFormContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
    background-color: var(--colorGrisSuave);
    padding: 10px;
    margin: 5px;
}

.newPasswordFormInputs {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.newPasswordFormInputs input {
    width: 45%;
    height: 30px;
    border-width: 1px;
    border-color: var(--colorAzulContraste);
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
}

.btnPassword {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width: auto;
    height: auto;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
    padding: 5px;
    gap: 10px;
}

.btnPassword:hover {
    border-color: var(--colorBlanco);
    box-shadow: var(--Sombra);
    color: var(--colorPrincipalClaro);
}