.productListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 5px;
    border-width: 1px;
    border-color: var(--colorGrisClaro);
    border-style: solid;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
}

.productListTitle {
    color: var(--colorAzulContraste);
}

.productListThumb {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    width: 50px;
    height: auto;
    border-width: 1px;
    border-color: var(--colorGrisClaro);
    border-style: solid;
    border-radius: 5px;
}

.productListQuantity {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--colorGrisTransparente);
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;   
    padding-left: 10px;
    padding-right: 10px;
    color: var(--colorGrisOscuro);
}