.saleHomeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.saleHomeTitles {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.saleAll {
    color: var(--colorAzulContraste);
}

.saleHomeCards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: auto;
}

/* Carrousel Sale css Start */
#wrapperSale {
    width: 100%;
    position: relative;
  }
  
  #carouselSale {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carouselSale::-webkit-scrollbar {
    height: 0;
  }
  
  #prevSale,
  #nextSale {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--colorAzulContraste);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    fill: var(--colorBlanco);
  }
  
  #prevSale {
    top: 50%;
    left: -20px;
    display: none;
  }
  
  #nextSale {
    top: 50%;
    right: -20px;
  }
  
  #contentSale {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }