.createUserPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--colorAzulContraste);
    padding-bottom: 200px;
}

.createUserLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: auto;
    padding: 20px;
}

.createUserLogo img {
    width: 50%;
    height: auto;
}

.createUserContainer {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: var(--colorBlanco);
    width: 40%;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: var(--Sombra);
    padding: 20px;
}

.createUserTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px;
}

.createUserTitles--userEmoji {
    width: 10%;
    height: auto;
}

.createUserSelector {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.createUserFormContainer {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    height: auto;
    width: 60%;
    text-align: left;
}

.form-label{
    text-align: left !important;
}

.form-check {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    height:auto;
    justify-content: flex-start !important;
    align-items: center !important;
}

.form-check--checkTerms {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    height: auto;
    gap: 10px;
    justify-content: flex-start !important;
    align-items: center !important;
}

.checkVendedor {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    height: auto;
    gap: 10px;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 0 !important;
}

.createUserForm--buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.createUserForm--btnCreate {
    background-color: var(--colorPrincipal) !important;
    border-color: var(--colorPrincipal) !important;
}

.createUserForm--btnSession {
    width: 100%;
    height: auto;
    background-color: var(--colorBlanco) !important;
    border-color: var(--colorPrincipal) !important;
    color: var(--colorPrincipal) !important;
}

.form-check label {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    width: 100%;
    height: auto;
}

.form-check-input:checked {
   background-color: var(--colorPrincipal) !important;

}

.checkTerms--link {
    text-decoration: underline;
}

.createUserForm--emailError, .createUserForm--inputError, .createUserForm--passwordError {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--notification);
    color: var(--colorError);
}

.createUserPrivacyDisclaimer {
    width: 60%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.createUserPrivacyDisclaimer p {
    font-size: var(--notification);
}