.userLoginPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.userLoginLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: auto;
    padding: 20px;
}

.userLoginLogo img {
    width: 50%;
    height: auto;
}
.userLoginContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: var(--colorBlanco);
    width: 40%;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: var(--Sombra);
    padding: 20px;
}

.userLoginFormContainer {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 50%;
}

.form-label{
    text-align: left !important;
}

.form-check {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
}

.userLoginForm--buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userLoginForm--btnSesion {
    background-color: var(--colorPrincipal) !important;
    border-color: var(--colorPrincipal) !important;
}

.userLoginForm--btnCrear {
    background-color: var(--colorBlanco) !important;
    border-color: var(--colorPrincipal) !important;
    color: var(--colorPrincipal) !important;
}

.form-check-label {
    display: flex;
    justify-content: flex-start !important;
}

.form-check-input:checked {
   background-color: var(--colorPrincipal) !important;

}

.userLoginForm--error{
    padding: 2px;
    font-size: var(--notification);
    color: var(--colorError);
    border-radius: 5px;
}
