.checkoutPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.noitemsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

.noItemsEmoji {
    width: 5%;
    height: auto;
    margin: 20px;
}

.checkoutIndicatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: auto;
}

.checkoutIndicatorCart {
    display: flex;
    flex-direction: row;
    width:calc(var(--widthCartList)/3.05);
    height: 45px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--colorGrisTransparente);
    padding: 10px;
}

.checkoutIndicatorInfo {
    display: flex;
    flex-direction: row;
    width:calc(var(--widthCartList)/3.05);
    height: 45px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--colorGrisTransparente);
    padding: 10px;
}

.checkoutIndicatorReady {
    display: flex;
    flex-direction: row;
    width:calc(var(--widthCartList)/3.05);
    height: 45px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--colorGrisTransparente);
    padding: 10px;
}

.indicatorActive {
    background-color: var(--colorBlanco);
    border-color: transparent;   
    color: var(--colorAzulContraste); 
}

.checkoutDataContainer {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorGrisTransparente);
}

.inputInfoCheckout {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.buyerDataContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.checkoutLoginData, .billingLoginData {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.loginDataName, .billingLoginDataName {
    width: 90%;
    height: 40px;
    text-align: left;
    border-width: 1px;
    border-color: var(--colorGrisClaro);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorBlanco);
    padding: 10px;
}

.loginDataAddress, .billingLoginDataAddress {
    width: 90%;
    height: auto;
    text-align: left;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorGrisSuave);
    padding: 10px;
    margin-top: 5px;
}

.checkoutSelector {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkoutSelector select {
    width: 90%;
    height: 40px;
    border-width: 2px;
    border-color: var(--colorAzulContraste);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorBlanco);
    padding: 5px;
}

.checkoutSelector select:hover {
    box-shadow: var(--Sombra);
}

.checkoutAddressEditBtn, .billingAddressEditBtn {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-width: 1px;
    border-color: var(--colorAzulContraste);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorBlanco);
    gap: 10px;
}

.checkoutAddressEditBtn:hover, .billingAddressEditBtn:hover {
    box-shadow: var(--Sombra);
}

.billingCheckContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.buyControlsContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
    margin: 10px ;
    gap: 20px;
}

.billingCheck {
    width: 25px;
    height: 25px;
}

.billingCheck:checked {
    background-color: var(--colorAzulContraste) !important;
}

.toPayContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorAzulContraste);
}

.toPayContainer:hover {
    border-color: var(--colorBlanco);
    box-shadow: var(--Sombra);
    color: var(--colorPrincipalClaro);
}

.toPayContainer button {
    color: var(--colorBlanco);
}

.toPayIcon {
    color: var(--colorBlanco);
}

.sumsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: left;
    border-width: 1px;
    border-color: var(--colorAzulContraste);
    border-style: solid;
    border-radius: 10px;
}

.subtotalSum {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.footerContainer  {
    justify-self: flex-end;
}