.productsCategoryPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.productsCategoryHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.productsTagsContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.productsTags {
    border-color:var(--colorBlanco);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorGrisSuave);
}

.productsTags:hover {
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
}

.productsSortingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
}

.sortBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    height: 30px;
    align-self: flex-end;
    border-color:var(--colorBlanco);
    border-style: solid;
    border-radius: 10px;
    box-shadow: var(--sombraSmall);
    background-color: var(--colorBlanco);
    padding: 10px;
}

.productsCategoryContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: auto;
    gap: 10px;
}

.productsCategorySideBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 24%;
    height: auto;
    gap: 10px;
}

.sideBarElem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-color:transparent;
    border-style: solid;
    border-radius: 10px;
    box-shadow: var(--sombraSmall);
    background-color: var(--colorBlanco);
    padding: 20px;
    gap: 10px;
}

.productsLengthContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.productsLength {
    border-color:transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorGrisSuave);
}

.filterBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
}

.filterBtn {
    border-color:var(--colorPrincipalClaro);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
}

.filterBtn:hover {
    cursor: default;
}

.clearFiltersBtn {
    border-color:var(--colorAzulContraste);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorGrisSuave);
    color: var(--colorAzulContraste);
}

.clearFiltersBtn:hover {
    border-color:var(--colorAzulContraste);
    color: var(--colorBlanco);
    box-shadow: var(--sombraSmall);
    background-color: var(--colorGrisMedio);

}

.sideBarSeparator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 10px;
    text-align: left;
    /* border-bottom: 2px solid var(--colorGrisSuave) ; */
}

.checkContainers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}



.sideBarBtn {
    width: 50%;
    border-color:transparent;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--colorPrincipalClaro);
}

.sideBarBtn:hover {
    box-shadow: var(--sombraSmall);
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
} 

.sideBarBtn:active {
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
} 

.productsCategoryCards{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    height: auto;
    gap: 10px;
}