.contenedorNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 25px !important;
    background-color: var(--colorPrincipalClaro) !important;
}

.contenedorNav--contenedorTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content:space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.contenedorNav--contenedorTop--Logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
    height: auto;
}

.contenedorNav--contenedorTop--Logo #logo {
    width: 65%;
    height: auto;
}


.contenedorNav--contenedorTop--Search {
    width: 60%;
    height: auto;
}

.contenedorNav--contenedorTop--btnSearch {
    background-color: var(--colorContraste) !important;
    color: var(--colorGrisClaro) !important;
}

.contenedorNav--contenedorTop--btnSearch:hover {
    color: var(--colorBlanco) !important;
}

.contenedorNav--contenedorTop--UserControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%;
    height: auto;
    padding: 10px;
    color: var(--colorNegro);
}

.contenedorNav--contenedorTop--UserControls .avatar {
    fill: var(--colorGrisOscuro);
}

.contenedorNav--contenedorTop--UserControls .cart {
    fill: var(--colorGrisOscuro);
}

.contenedorNav--contenedorBottom {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    justify-content:center;
    align-items: center;
    gap: 20px;
    color: var(--colorGrisMedio);
}