.contenedorNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-top: 25px !important;
    background-color: var(--colorPrincipalClaro) !important;
}

.contenedorNav--contenedorTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content:space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.contenedorNav--contenedorTop--Logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 25%;
    height: auto;
}

.contenedorNav--contenedorTop--Logo #logo {
    width: 65%;
    height: auto;
}


.contenedorNav--contenedorTop--Search {
    width: 60%;
    height: auto;
}

.contenedorNav--contenedorTop--btnSearch {
    background-color: var(--colorAzulContraste) !important;
    color: var(--colorGrisClaro) !important;
}

.contenedorNav--contenedorTop--btnSearch:hover {
    color: var(--colorBlanco) !important;
}

.contenedorNav--contenedorTop--UserControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%;
    height: auto;
    padding: 10px;
    color: var(--colorNegro);
}

.contenedorNav--contenedorTop--UserControls .avatar {
    fill: var(--colorGrisOscuro);
}

.contenedorNav--contenedorTop--UserControls .cart {
    fill: var(--colorGrisOscuro);
}

.contenedorNav--contenedorBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 365px;
    padding-right: 345px;

}

/* .container-fluid{
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: auto !important;
} */

.contenedorBottom--Menu {
    display: flex ;
    flex-direction: row ;
    width: 100% ;
    height: auto ;
    justify-content:space-between ;
    align-items: center ;
}

.dropdownContenedor {
    display: flex;
    flex-direction: row;
    width: calc(100%/2);
    justify-content: center;
    align-items: center;
    border: solid 1px var(--colorGrisClaro);
    border-radius: 5px;

}

.dropdownCategorias {
    text-align: center;
    width:50%;
    color: var(--colorGrisOscuro) !important;
}

.listaColapsable {
    text-align: left !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100% !important;
}