.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-top: solid;
    border-color: var(--colorGrisClaro);
    box-shadow: 0 -5px  10px var(--colorGrisClaro);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: var(--colorAzulContraste);
    margin-top: 20px;
}

.footerLogo {
    width: 50%;
    height: auto;
}

#mlinkFooter, #compraslink, #ventaslink {
    color: var(--colorBlanco);
    font-size: var(--li);
}

#mlinkFooter:hover, #ventaslink:hover, #compraslink:hover  {
    color:var(--colorGrisClaro) ;
}

.footerContent {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: var(--p);
    gap: 10px;
}

.footerContent--Columns {
    display: flex;
    flex-direction: column;
    color:var(--colorBlanco);
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: auto;
}

.socialIconsContainer {
    display: inherit;
    flex-direction: row;
    gap: 10px;
}

.socialIcon {
    color: var(--colorBlanco);
}

.socialIcon:hover {
    color: var(--colorGrisClaro);
}