.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--colorPrincipal);
    border-top: solid;
    border-color: var(--colorGrisClaro);
    box-shadow: 0 -5px  10px var(--colorGrisClaro);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerLogoContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 90%;
    height: auto;
}

.footerLogoContainer--Logo {
    width: 15%;
    height: auto;
}

.footerContent {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    font-size: var(--p);
    gap: 10px;
}

.footerContent--Columns {
    display: flex;
    flex-direction: column;
    color:var(--colorGrisOscuro);
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: auto;
    height: auto;
}

.columnSuscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.columnSuscribeInputs {
    display: flex;
    flex-direction: row;
}

.btnSuscribe {
    border-radius: 5px !important;
    background-color: var(--colorAzulContraste) !important;
    color: var(--colorGrisClaro) !important;
    border-color: transparent !important;
}

.btnSuscribe:hover {
    color: var(--colorBlanco) !important;
}

.userLoginForm--error{
    padding: 2px;
    font-size: var(--notification);
    color: var(--colorError);
    border-radius: 5px;
}
