.charsetModal {
    color: var(--colorNegro);
}

.modal-header {
    background-color: var(--colorPrincipal);
    color: var(--colorBlanco);
    width: 100%;
    border-radius: 10px ;
    border-style: hidden ;
}

.modalBodyText {
    margin-top: 1rem;
    text-align: left;
    height: auto;
}

.modalBodyText a:hover {
    color: var(--colorPrincipal) !important;
}

.modalFooterBtn {
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
    padding: 1rem;
    border-radius: 10px ;
    border-style: hidden ;
}

.charset {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.charsetSeparator {
    border-left: solid 1px var(--colorAzulContraste);
    margin-top: 20px;
    margin-bottom: 20px;
}

.charsetIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.charsetIcon {
    width: 30px;
    height: auto;
    color: var(--colorAzulContraste);
}

.charsetIconFront {
    position: relative;
    left: -10px;
    bottom: -10px;;
}

.charsetLink {
    width: 100%;
    color: var(--colorBlanco);
    font-size: var(--notification);
}

.charsetLink:hover {
    color:var(--colorAzulContraste);
}

.modal--tablaComisiones {
    width: 100%;
    height: auto;
    display: grid;
    grid:
      "valorTitle comisionTitle" 
      "valor comision"; 
    gap: 8px;
    font-size: var(--h7);
}

.calcComision {
    font-size: var(--h7);
}


.comision, .comisionTitle  {
    text-align: right;
}

.calcComision {
    display: flex ;
    flex-direction: column ;
    width: 100% ;
    height: auto;
}

.calcComisionLine {
    display: flex ;
    flex-direction: row ;
    width: 100% ;
    height: auto;
}

.calcComisionInput {
    width: 40% ;
}

/* Chrome, Safari, Edge, Opera - No input arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - No input arrows */
input[type=number] {
  -moz-appearance: textfield;
}