.charsetModal {
    color: var(--colorNegro);
}

.modal-header {
    background-color: var(--colorPrincipal);
    color: var(--colorBlanco);
    width: 100%;
    border-radius: 10px ;
    border-style: hidden ;
}

.modalBodyText {
    margin-top: 1rem;
    text-align: left;
}

.modalBodyText a:hover {
    color: var(--colorPrincipal) !important;
}

.modalFooterBtn {
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
    padding: 1rem;
    border-radius: 10px ;
    border-style: hidden ;
}

.charset {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.charsetSeparator {
    border-left: solid 1px var(--colorAzulContraste);
    margin-top: 20px;
    margin-bottom: 20px;
}

.charsetIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.charsetIcon {
    width: 30px;
    height: auto;
    color: var(--colorAzulContraste);
}

.charsetIconFront {
    position: relative;
    left: -10px;
    bottom: -10px;;
}

.charsetLink {
    width: 100%;
    color: var(--colorBlanco);
    font-size: var(--notification);
}

.charsetLink:hover {
    color:var(--colorAzulContraste);
}

.modal--tablaComisiones {
    width: 100%;
    height: 1rem;
    display: grid;
    grid:
      "valorTitle comisionTitle" 
      "valor comision" 
      / 1fr 1fr;
    gap: 8px;
    font-size: var(--h7);
}

.comision, .comisionTitle  {
    text-align: right;
}