html {
  --colorPrincipal: #0098ce;
  --colorPrincipalClaro: #cceaf5;
  --colorBlanco: #ffffff;
  --colorContraste: #ffdd00;
  --colorContrasteSecundario: #e4032d;

  --fontPrincipal: 'Poppins', sans-serif; ;
  --h1: 48.83px ;
  --h2: 39.06px ;
  --h3: 31.25px ;
  --h4: 25px ;
  --h5: 20px ;
  --h6: 16px ;
  --p:  16px ;
  --bold : bold; 
}

body {
  margin: 0;
  font-family: var(--fontPrincipal) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: var(--colorPrincipalClaro) !important;
}


body h1 {
  font-size: var(--h1);
}

body h2 {
  font-size: var(--h2);
}

body h3 {
  font-size: var(--h3);
}

body h4 {
  font-size: var(--h4);
}

body h5 {
  font-size: var(--h5);
}

body h6 {
  font-size: var(--h6);
}

body p {
  font-size: var(--p);
}

body a {
  font-size: var(--p);
}

li {
  font-size: var(--p);
}
