html {
  --colorPrincipal: #0098ce;
  --colorPrincipalClaro: #cceaf5;
  --colorBlanco: #ffffff;
  --colorNegro: #000000; 
  --colorGrisSuave: #f0f1f3;
  --colorGrisClaro: #a7a7a7;
  --colorGrisMedio: #757574;
  --colorGrisOscuro: #3b3b3a;
  --colorGrisTransparente: rgb(255, 255, 255,50%);
  --colorAzulContraste: #02488e;
  --colorAmarilloContraste: #ffdd00;
  --colorError: #e4032d;
  --colorOk: #009d4e;
  --fontPrincipal:'Tahoma', sans-serif; 
  --h1: 48.83px ;
  --h2: 39.06px ;
  --h3: 31.25px ;
  --h4: 25px ;
  --h5: 20px ;
  --h6: 16px ;
  --h7: 14px ;
  --p:  16px ;
  --notification:12px;
  --li:  14px ;
  --bold : bold;
  --Sombra: 5px 5px 10px var(--colorGrisClaro); 
  --sombraSmall: 2px 2px 2px var(--colorGrisClaro); 
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontPrincipal) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: var(--colorPrincipalClaro) !important;  
}

body  ::selection {
  color: var(--colorAzulContraste);
  background: var(--colorBlanco);
}

body  ::-moz-selection {
  color: var(--colorAzulContraste);
  background: var(--colorBlanco);
}

body h1 {
  font-size: var(--h1);
}

body h2 {
  font-size: var(--h2);
}

body h3 {
  font-size: var(--h3);
}

body h4 {
  font-size: var(--h4);
}

body h5 {
  font-size: var(--h5);
}

body h6 {
  font-size: var(--h6);
}

body p {
  margin: 0;
  padding: 0;
  font-size: var(--p);
}

body a {
  font-size: var(--p);
  color: var(--colorGrisOscuro);
  text-decoration: none;
}

body a:hover {
  color: var(--colorPrincipal);
}

li {
  font-size: var(--li);
  list-style: none;
}

* button {
  background-color:transparent;
  border-style: none;
}