.visitedHomeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.visitedHomeTitles {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.visitedAll {
    color: var(--colorAzulContraste);
}

.visitedHomeCards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 329px!important;
    height: 415px !important;
}

/* Carrousel Visited Start */
    #wrapperVisited {
    width: 100%;
    position: relative;
  }
  
  #carouselVisited {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carouselVisited::-webkit-scrollbar {
    height: 0;
  }
  
  #prevVisited,
  #nextVisited {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--colorAzulContraste);
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    fill: var(--colorBlanco);
  }
  
  #prevVisited {
    top: 50%;
    left: -20px;
    display: none;
  }
  
  #nextVisited {
    top: 50%;
    right: -20px;
  }
  
  #contentVisited {
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }