.newUserFormContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
}

.newUserFormInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.newUserFormInputs input, .newUserFormInputs select {
    width: 45%;
    height: 30px;
    border-width: 1px;
    border-color: var(--colorAzulContraste);
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
}

.newUserFormInputs label {
    width: 45%;
    height: 30px;
}

.btnUser {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width: auto;
    height: auto;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorAzulContraste);
    color: var(--colorBlanco);
    padding: 5px;
    gap: 10px;
}

.btnUser:hover {
    border-color: var(--colorBlanco);
    box-shadow: var(--Sombra);
    color: var(--colorPrincipalClaro);
}