.ReadyBuyPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.noitemsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

.noItemsEmoji {
    width: 5%;
    height: auto;
    margin: 20px;
}

.checkoutIndicatorContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: auto;
}

.checkoutIndicatorCart {
    display: flex;
    flex-direction: row;
    width:calc(var(--widthCartList)/3.05);
    height: 45px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--colorGrisTransparente);
    padding: 10px;
}

.checkoutIndicatorInfo {
    display: flex;
    flex-direction: row;
    width:calc(var(--widthCartList)/3.05);
    height: 45px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--colorGrisTransparente);
    padding: 10px;
}

.checkoutIndicatorReady {
    display: flex;
    flex-direction: row;
    width:calc(var(--widthCartList)/3.05);
    height: 45px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    background-color: var(--colorGrisTransparente);
    padding: 10px;
}

.indicatorActive {
    background-color: var(--colorBlanco);
    border-color: transparent;   
    color: var(--colorAzulContraste); 
}

.readyMessaggeContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    border-radius: 10px;
    background-color: var(--colorGrisTransparente);
    padding: 20px;
}

.successEmoji {
    width: 5%;
    height: auto;
    margin: 20px;
}

.successDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    height: auto;
    border-width: 1px;
    border-color: var(--colorGrisMedio);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.successDataShipping {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.successDataAddress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border-width: 1px;
    border-color: var(--colorGrisClaro);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.successDataMethod {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border-width: 1px;
    border-color: var(--colorGrisClaro);
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
}

.spacer  {
    margin-top: 5px;
    margin-bottom: 5px;
}